* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #333333;
  --white: #ffffff;
  --very-light-gray: #f9fbfc;
  --light-gray: #ededf5;
  --medium-gray: #d0d0d6;
  --dark-gray: #b5b5ba;
  --very-dark-gray: #6b6b6b;
  --blue: #1bb8ea;
  --blue-two: #42b4ff;
  --dark-blue: #1690b5;
  --medium-blue: #269ceb;
  --red: #f03800;
}

body {
  background: var(--light-gray);
  color: var(--black);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
