.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
}

.menu {
  width: 8rem;
  background-color: #0d649e;
  padding: 1rem;
  color: var(--white);

  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-weight: 600;

      .link:focus {
        background: #0D649E;
        opacity: 0.7;
      }
    }
  }
}